<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src ="js/jquery.js"></script>
        <script type="text/javascript" src ="js/popper.js"></script>
        <script type="text/javascript" src ="js/bootstrap.min.js"></script>
        <script type="text/javascript" src = "js/control.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/control.css">
        <title>RPI</title>
    </head>
    <body>
        <div class="container-fluid baseContainer">
            <div class = "row baseRow">
                <div class = "col-sm-4 baseCol" id ="0">
                    h
                </div>
                <div class = "col-sm-4 baseCol" id ="1">
                    h
                </div>
                <div class = "col-sm-4 baseCol" id ="2">
                   h    
                </div>
            </div>
            <div class = "row baseRow">
                <div class = "col-sm-4 baseCol" id ="3">
                   h 
                </div>
                <div class = "col-sm-4 baseCol" id ="4">
                   h 
                </div>
                <div class = "col-sm-4 baseCol" id ="5">
                   h 
                </div>
            </div>
        </div>
    </body>
</html>